.alert > p, .alert > ul {
    list-style: none;
}

/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}
body a{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
p{
    margin:0;
}
body a:hover{
    text-decoration:none;
}
/*--header--*/
.navbar.navbar-default {
    background: #fff;
    margin: 0;
    border-top: none;
    min-height: 40px;
}
/*--header-two--*/
.logo img {
    margin: 50px auto;
    display: block;
    width: 450px;
}
/*--footer--*/
.footer {
    padding: 5em 0;
    background: #f5f6f8;
    -webkit-box-shadow: 0px 0px 5px 1px #C3C3C3;
    -moz-box-shadow: 0px 0px 5px 1px #C3C3C3;
    box-shadow: 0px 0px 5px 1px #C3C3C3;
}
.footer-logo {
    width: 250px;
}
/*--single-page--*/
.single-info{
    padding:5em 0;
}
.single-top {
    margin-left:16%;
    width: 34%;
}
.single-top-left h1 {
    color: #555555;
    font-size: 28px;
    font-weight: 200;
}
.single-info h6 {
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 7px;
}
.desc {
    font-size: 1em;
    color: #999;
    line-height: 1.8em;
    margin: 1em 0;
}
.single-info .quantity p {
    display: inline-block;
    color: #FF590F;
    font-weight: 700;
}

#buyBtn {
    display: block;
    margin: 25px 0 0;

    color: #fff;
    background-color: #00A8D3;
    border-color: #0092b7;
}

.form-group label {
    margin-top: 10px;
}
/*--//single-page--*/

.confirm {
    text-align: center;
    margin: 100px 0;
}
.confirm h1 {
    font-size: 50px;
    font-weight: 700;
}
.confirm h2 {
    margin-top: 25px;
    font-size: 22px;
    font-weight: 700;
}
.confirm hr {
    margin: 35px 0;
}


/*---- responsive-design -----*/
@media(max-width:1280px){
    .footer {
        padding: 4em 0;
    }
}
@media(max-width:1080px){
    .footer {
        padding: 3.5em 0;
    }
    .single-top-left h3 {
        font-size: 1.6em;
    }
    .single-top-left {
        padding: 0;
    }
    .single-info {
        padding: 5em 0 3em;
    }
}
@media(max-width:991px){
    .footer {
        padding: 3em 0;
    }
    .single-top {
        width: 50%;
        margin: auto;
    }
    .single-top-left h1 {
        margin-top: 1.5em;
    }
    .single-info {
        padding: 4em 0 1em;
    }
}
@media(max-width:768px){
    #buyBtn {
        width: 100%;
    }
}
@media(max-width:640px){
    .logo img {
        margin: 30px auto;
        width: 300px;
    }
    .footer {
        padding: 2.5em 0;
    }
    .footer-content {
        margin: auto;
        text-align: center;
    }
    .single-top-left h1 {
        font-weight: normal;
    }
    .single-info h6 {
        font-weight: normal;
    }
}
@media(max-width:480px){
    .logo img {
        width: 250px;
    }
    .single-top {
        margin-left: 18%;
        width: 75%;
    }
    .single-top-left h1 {
        font-size: 1.5em;
    }
}
@media(max-width:320px){
    .header-two .navbar-nav {
        margin: 0 0 0.5em;
    }
    .footer {
        padding: 2em 0;
    }
    .single-top {
        margin-left: 18%;
        width: 85%;
        padding: 0;
    }
}
/*--//responsive-design---*/
/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-viewport {
    max-height:350px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

}
.flex-control-nav {
    position: absolute;
    bottom: auto;
    text-align: center;
    left:-21%;
    top: 0;
    width: 24%;
}
ul.flex-direction-nav {
    display: none;
}
.flex-control-thumbs li:nth-child(2) {
    margin: 0.5em 0;
}
.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border: 1px solid #D1CFCF;
}
.flex-control-thumbs img:hover {
    opacity: 1;
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 1080px) {
    .flex-viewport {
        max-height: 295px;
    }
}
@media screen and (max-width: 991px) {
    .flex-control-nav {
        width: 21%;
    }
    .flex-viewport {
        max-height: 290px;
    }
}
@media screen and (max-width:480px) {
    .flex-viewport {
        max-height: 260px;
    }
}
@media screen and (max-width: 320px) {
    .flex-control-nav {
        width: 29%;
        left: -23%;
    }
}