.alert > p, .alert > ul {
    list-style: none;
}

/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
    margin:0;
    font-family: 'Raleway', sans-serif;
    background: #fff;
}
body a{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    font-family: proxima-nova, sans-serif;
}
p{
    margin:0;
}
body a:hover{
    text-decoration:none;
}
/*--header--*/
.navbar.navbar-default {
    background: #fff;
    margin: 0;
    border-top: none;
    min-height: 40px;
}
/*--header-two--*/
.header-two .navbar-nav {
    width: 33%;
}
.logo {
    text-align: center;
}
.logo h1 {
    font-size: 3em;
    margin: 0.6em 0 0.5em;
    font-weight: 900;
}
.logo h1 a {
    display: inline-block;
    color: #ff590f;
    text-decoration: none;
}
.logo h1 a b {
    color: #353F49;
}
span.tag {
    display: block;
    font-size: .3em;
    color: #999;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin-top: 6px;
    font-weight: 400;
}
/*--footer--*/
.footer {
    padding: 5em 0;
    background: #f5f6f8;
    -webkit-box-shadow: 0px 0px 5px 1px #C3C3C3;
    -moz-box-shadow: 0px 0px 5px 1px #C3C3C3;
    box-shadow: 0px 0px 5px 1px #C3C3C3;
}
.footer-grids h4 {
    font-size: 2.8em;
    font-weight: 800;
}
.footer-grids h4 a{
    color:#FF590F;
    text-decoration:none;
}
.footer-grids h4 a b {
    color: #353F49;
}
.footer-grids h3 {
    font-size: 3em;
    color: #FF590F;
    margin-bottom: 0.5em;
}
.footer-grids p {
    font-size: 1em;
    color: #32404b;
    font-weight: 500;
    margin-top: 1em;
    line-height: 1.8em;
}
.footer-grids p a{
    color: #32404b;
    -webkit-transition:.5s all;
    -moz-transition:.5s all;
    transition:.5s all;
}
.footer-grids p a:hover{
    color: #FF590F;
}
.footer-grids ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 30px 5px 0;
}
.footer-grids ul li a {
    font-size: 1em;
    text-decoration: none;
    line-height: 2em;
    color: #32404b;
    text-transform: capitalize;
    font-weight: 500;
}
.footer-grids ul li a:hover {
    color: #FF590F;
}
/*--single-page--*/
.single-info{
    padding:5em 0;
}
.single-top {
    margin-left:5%;
    width: 34%;
}
.single-top-left h3 {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 900;
    color: #00a6d6;
}
.single-info h6 {
    font-size: 2em;
    color: #353F49;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
.desc {
    font-size: 1em;
    color: #999;
    line-height: 1.8em;
    margin: 1em 0;
}
.single-info .quantity p {
    display: inline-block;
    color: #FF590F;
    font-weight: 700;
}
.quantity input.item_quantity {
    width: 50px;
    height: inherit;
    display: inline-block;
    margin: 0px 0px 0 10px;
    padding: 7px 0;
    outline: none;
    text-align: center;
    font-size: 1em;
    color: #999;
}
.btn_form a {
    border: 1px solid rgb(133, 139, 145);
    padding: 0.8em 2em;
    display: inline-block;
    text-decoration: none;
    color: #353F49;
    font-size: 0.9em;
    font-weight: 600;
    margin: 1em 0;
}
.btn_form a:hover{
    color: #ff590f;
    border-color: #ff590f;
}
/*--//single-page--*/

.confirm {
    text-align: center;
    margin: 100px 0;
}
.confirm h1 {
    font-size: 50px;
    font-weight: 700;
}
.confirm h2 {
    margin-top: 25px;
    font-size: 22px;
    font-weight: 700;
}
.confirm hr {
    margin: 35px 0;
}


/*---- responsive-design -----*/
@media(max-width:1280px){
    .footer {
        padding: 4em 0;
    }
}
@media(max-width:1080px){
    .footer {
        padding: 3.5em 0;
    }
    .footer-grids ul li {
        padding: 5px 25px 5px 0;
    }
    .single-top {
        margin-left: 13%;
    }
    .single-top-left h3 {
        font-size: 1.6em;
    }
    .single-top-left {
        padding: 0;
    }
    .single-info {
        padding: 5em 0 3em;
    }
}
@media(max-width:991px){
    .header-two .navbar-nav {
        width: 33%;
    }
    .logo h1 {
        font-size: 2.8em;
        margin: 0.6em 0 0.5em;
        font-weight: 900;
    }
    .footer-grids:nth-child(2) {
        margin: 2em 0;
    }
    .footer {
        padding: 3em 0;
    }
    .single-top {
        width: 50%;
    }
    .single-top-left h3 {
        margin-top: 1.5em;
    }
    .single-info h6 {
        font-size: 1.8em;
    }
    .single-info {
        padding: 4em 0 1em;
    }
}
@media(max-width:800px){
    .header-two .navbar-nav {
        width: 32%;
    }
}
@media(max-width:767px){
    .header-two .navbar-nav {
        width: 36%;
        float: left;
        margin: 0 0 0;
    }
    button.navbar-toggle {
        border-color: #F07818 !important;
        background-color: #F07818;
    }
    button.navbar-toggle {
        margin-right: 48%;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #F07818;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #F2F6F7;
    }
    .navbar-nav > li {
        display: block;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 0.8em 0.8em;
        font-size: 1em;
    }
}
@media(max-width:768px){
    .logo h1 {
        font-size: 2.5em;
    }
}
@media(max-width:640px){
    .row h4 {
        margin-bottom: 0;
    }
    .footer {
        padding: 2.5em 0;
    }
    .footer-grids h4 {
        font-size: 2.5em;
    }
    .footer-grids h3 {
        font-size: 2.5em;
        margin-bottom: 0.2em;
    }
    .footer-grids p {
        font-size: 0.9em;
    }
    .footer-grids ul li a {
        font-size: 0.9em;
    }
    .single-info h6 {
        font-size: 1.5em;
    }
    .single-info p {
        font-size: 0.9em;
    }
}
@media(max-width:480px){
    .header-two .navbar-nav {
        width: 100%;
        float: none;
        margin: 0 0 1em;
    }
    .logo h1 {
        margin: 0.5em 0;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 0.7em 0.8em;
    }
    .single-top {
        margin-left: 18%;
        width: 75%;
    }
    .single-top-left h3 {
        font-size: 1.5em;
    }
    .single-rating {
        margin: 0.8em 0;
    }
    .single-info p {
        margin: 0.5em 0;
    }
}
@media(max-width:414px){
    .logo h1 {
        margin: 0.3em 0;
    }
}
@media(max-width:320px){
    .header-two .navbar-nav {
        margin: 0 0 0.5em;
    }
    .logo h1 {
        font-size: 2em;
        margin: 0.5em 0 0;
    }
    span.tag {
        font-size: .35em;
        letter-spacing: 0px;
    }
    button.navbar-toggle {
        margin-right: 41%;
    }
    .navbar {
        min-height: 46px;
    }
    .navbar-toggle {
        padding: 7px 8px;
    }
    .footer {
        padding: 2em 0;
    }
    .footer-grids h3 {
        font-size: 2.3em;
    }
    .footer-grids {
        padding: 0;
    }
    .footer-grids:nth-child(2) {
        margin: 1.5em 0;
    }
    .footer-grids h4 {
        font-size: 2em;
    }
    .single-top {
        margin-left: 18%;
        width: 85%;
        padding: 0;
    }
}
/*--//responsive-design---*/